body{
    background-image: url(images/Screenshot_drf_audi_rs5_dtm_2019_rt_misano_4-1-122-21-59-44.jpg);
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.align-justify{
    text-align: justify;
}
#newsgray{
    color: rgb(180, 180, 180);
}
.rowpad{
    padding: 2px;
    margin-bottom: 20px;
}
.newstitle{
    color: white;
}