body{
    background-image: url(images/Screenshot_drf_audi_rs5_dtm_2019_rt_misano_4-1-122-21-59-44.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    max-width: 100%;
    overflow-x: hidden;
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.cim{
    margin: 20px auto;
}

.col-lg-4{
    margin: 40px auto;
}

iframe{
    margin-left: 28px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.card{
    width: 360px;
    text-align: center;
    background: linear-gradient(to left, #fff 50%, red 50%);
    background-size: 200%;
    background-position: right;
    border: 3px solid red;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}

.card:hover{
    background-position: left;
}

.card img{
    margin: 10px auto 0 auto;
    width: 335px;
    height: 335px;
}

.resize{
    width: 360px;
    height: 153px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-resize{
    width: 100px;
    margin: auto;
}

.button-resize2{
    width: 125px;
}

.background{
    padding-top: 25px;
}

.container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.align-justify{
    text-align: justify;
}

#newsgray{
    color: rgb(180, 180, 180);
}

.rowpad{
    padding: 2px;
    margin-bottom: 20px;
    height: 430px;
}

.newstitle{
    color: white;
}

.alta{
    color: black;
}

.alta:hover{
    color: red;
    text-decoration: underline;
}

.card3{
    width: 360px;
    margin-top: 80px;
    width: 240px;
}
.newsborder:hover{
    border: 3px solid red;
    cursor: grab;
    transition: 0,5s;
}
.card2{
    max-height: 200px !important;
}
.newsimg{
    border: 2px solid white;
}

.carousel-item img{
    height: 240px;
} 
.textbig{
    font-size: 3rem;
}
.modimg{
    max-width: 250px;
}
.mod{
    border: 2px solid red;
}

iframe{
    margin-left: 0;
}

#fej{
    background-color: rgba(19, 18, 36, 0.5);
    color: white;
}
.moda{
    background: linear-gradient(to left, #000 50%, red 50%);
    background-size: 250%;
    background-position: right;
    transition: all 0.5s ease-out;
}
.moda:hover{
    background-position: left;
    border: 1px solid red;
}