body{
    background-image: url(images/Screenshot_drf_audi_rs5_dtm_2019_rt_misano_4-1-122-21-59-44.jpg);
    background-repeat: no-repeat;
}

@font-face{
    font-family: 'Product Sans Black Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Black Regular'), url('ProductSans-Black.woff') format('woff');
}
@font-face{
    font-family: 'Product Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Regular'), url('ProductSans-Regular.woff') format('woff');
}

h1{
    text-align: center;
    color: white;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: white;
}

.cim{
    margin: 20px auto;
}

.col-lg-4{
    margin: 40px auto;
}

.card{
    width: 360px;
}

.card img{
    margin: 10px auto 0 auto;
    width: 335px;
    height: 335px;
}

.resize{
    width: 360px;
    height: 153px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.button-resize{
    width: 100px;
    margin: auto;
}

.background{
    background-color: white;
    padding-top: 25px;
}

.container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.align-justify{
    text-align: justify;
}

#newsgray{
    color: rgb(180, 180, 180);
}

.rowpad{
    padding: 2px;
    margin-bottom: 20px;
}

.newstitle{
    color: white;
}